body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff;
}

#container{
	width:980px;
	margin: auto;
	border: 1px solid gray;
	border-radius: 10px;
	border-style: solid;
	border-color: inheight;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

article, aside, header, nav, section, #autorize {
	display: block;
}

._header{
	text-align: center;
	border: 1px solid gray;
	background-color: #eee;
	border-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
}

._body{
	border: 1px solid gray;
	margin-bottom:1px;
	padding: 5px;
}

#control_panel{
	background-color: black;
	color: #26c2ff;
	padding: 3px;
	padding-left: 10px;
	border-bottom: 1px;
	border-radius: 10px 10px 0 0;
}

nav {
	float: left;
	width: 15%;
	min-width: 100px;
	border: 1px;
	padding: 1px;
	margin: 1px;
}

section{
	float: left;
	position: relative;
	width: 84.2%;
	padding: 1px;

}

footer{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-radius: 0px 0px 10px 10px;
	clear: both;
	text-align: right;
	padding-right: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6),
	color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb)); /* webkit */
}

header {
	padding: 10px;
}

ul,li {
	list-style-type: none; /* Убираем маркеры */
	padding: 0px;
	margin: 2px;
}

/* Ссылки */
a {
	color: #0088cc;
	text-decoration: none;
}
a:hover {
	color: #005580;
	text-decoration: underline;
}

#menu_horisontal {
	text-align: center;
	border-bottom: 1px solid gray;
}

#autorize{
	float: right;
	border: 1px solid gray;
	padding: 3px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 1px;
}

#errors{
	display: block;
	border-top: 1px solid gray;
}

.muted			{color: #999999;}
.text-warning	{color: #c09853;}
.text-error		{color: #b94a48; padding: 0px; margin: 0px;}
.text-info 		{color: #3a87ad;}
.text-success	{color: #468847;}

.site_name {
	text-align: center;
}