article,aside,header,nav,section {display: block;}

header, #errors, #menu_horisontal {
	text-align: center;
	border-bottom: 1px solid #eeeeee;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff;
}

a {
	color: #0088cc;
	text-decoration: none;
}

a:hover {
	color: #005580;
	text-decoration: underline;
}

.muted			{color: #999999;}
.text-warning	{color: #c09853;}
.text-error 	{color: #b94a48;}
.text-info 		{color: #3a87ad;}
.text-success	{color: #468847;}

h1,h2,h3,h4,h5,h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility;
}

header {
	padding-bottom: 9px;
	margin: 20px 0 30px;
}

nav {
	float: left;
	width: 15%;
	border: 1px solid #eeeeee;
}

section{
	float: left;
	width: 84.6%;
}

footer{
	border: 1px solid #eeeeee;
	clear: both;
	text-align: right;
}